table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    text-align: left;
  }

  .action{
      display: flex;
  }

  .action .mat-form-field{
      align-self: flex-start;
  }

  .action .remove{
      align-self: center;
      margin-left: auto;

  }
  
  td, th {
    width: 25%;
    text-align: left;
  }
  
  .table-container{
    width: 80%; 
    margin: 0px auto;     
}

::ng-deep .error{
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

::ng-deep .success{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

::ng-deep .success button{
  background-color: #dff0d8;
  color: #3c763d;
  font-weight: bold;
}

::ng-deep .error button{
  background-color: #f2dede;
  color: #a94442;
  font-weight: bold;
}
