.container{
    text-align: center
}

.form-container{
    width: 400px; 
    margin: 0px auto; 
    margin-top: 200px
}

.form-field{
    display: block
}


::ng-deep .error{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
 }

 ::ng-deep .success{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
 }

 ::ng-deep .success button{
    background-color: #dff0d8;
    color: #3c763d;
    font-weight: bold;
 }

 ::ng-deep .error button{
    background-color: #f2dede;
    color: #a94442;
    font-weight: bold;
 }